<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Compartilhar</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <a  href="http://localhost:4200/favorito"><mat-icon>favorite</mat-icon></a>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <a href="http://localhost:4200/compartilhar"><mat-icon>share</mat-icon></a>
    </button>
  </mat-toolbar>
<div class="example-button-container">
    <button mat-fab color="warn" aria-label="Example icon button with a home icon">
        <a href="http://localhost:4200/"><mat-icon>home</mat-icon></a>
        <h4>home</h4>
    </button>
</div><br>
<mat-list role="list">
  <mat-list-item role="listitem">Foto</mat-list-item>
  <mat-list-item role="listitem">E-mail</mat-list-item>
  <mat-list-item role="listitem">Whatsapp</mat-list-item>
</mat-list>
